
h1 {
  color: blue;
}

h2{
  color: green;
}

p,ul{
  color: red;
}

img{
  display: block;
  border-radius: 65%;
}
 hr {
   border-top: 25px dotted pink;

 }
 .kilts {
   background-color: yellow;
  padding: 10px;
  margin: 0;
 }
 .lists{
   background-color: blue;
 }
 .comedy{
   background-color: grey;
   padding: 30px 10px 5px 50px;

 }
